/* Global styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    font-family: Verdana;
    font-size: 16px;
    text-align: center;
    color: #fff;
}

h1, h2 {
    margin: 0.5em 0;
}

h2 {
    font-size: 2.625em;
    font-weight: 300;
}

a {
    font-size: 1em;
    color: aquamarine;
    /* margin-bottom: 1.25em; */
}

/* Site structure */

.wrapper {
    display: flex;
    flex-direction: column;
}

/* Hero banner styling */

.hero-banner h1 {
    font-size: 3.125em;
}

.hero-banner video {
    margin-top: 1.25em;
}

/* Travel guide styling */

.travel-guide p {
    font-size: 1.3125em;
    color: grey;
    margin-bottom: 1.25em;
}

/* Footer styling */

footer img {
    margin-top: 1.25em;
    margin-bottom: 0.5em;
}

footer p {
    color: grey;
    text-align: right;
    margin-top: 0.75em;
    margin-right: 0.5em;
}